*, 
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  /* Reset box-sizing */
}

html, body {
    width: 100%;    /* Avoid 100vw because it can include the scrollbar */
    height: 100vh;
    color: #fff;
    background-color: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
html[data-theme="dark"],
html[data-theme="dark"] body {
}

/* ------------------------- Layout (Desktop Mode) ------------------------- */

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.demo-A,
.demo-B {
    /* Bug alert: for odd-numbered viewport widths, the right side of the iFrame will get clipped by 1px. */
    flex-basis: calc(50% - 0.5px);  /* Forces even number width to fix subpixel rounding bug. */
    height: 100%;
    width: 50%;
    max-width: 900px;
    padding-top: 10px;
    padding-bottom: 20px;

    display: flex;
    flex-direction: column;
}
.demo-A {
    padding-left: 20px;
    padding-right: 10px;
}
.demo-B {
    padding-left: 10px;
    padding-right: 20px;
}

/* ------------------------- Demo Content ------------------------- */

iframe {
    width: 100%;
    height: 100%;
    background-color: white;
    border: none;
    border-radius: 5px;
}

/* ------------------------- Layout (Mobile Mode) ------------------------- */

.mobile-mode {
    display: none;
    flex-direction: column;
    padding: 20px;
}
@media (max-width: 900px) {
    .desktop-mode {
        display: none;
    }
    .mobile-mode {
        display: flex;
    }
}
.container .controls {
    width: 100%;
    margin-bottom: 10px;
}
.container .content {
    max-width: 1000px;
    width: 100%;    /* Important so that child elements can use the max-width. */
    flex: 1;
    flex-grow: 1;  /* Important so that the main element takes all the free space instead of the footer. */
}

/* ---------- Framework Toggle -- Radio Buttons (Mobile Mode) ---------- */

.controls fieldset {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around; /* Centers the flex children. */
    border: none;
    text-align: center;
    line-height: 1;
    font-size: 14px;
    gap: 5px;
}
.controls fieldset label {
    cursor: pointer;
    display: inline-flex;
    flex: 1 1 0; /* All items grow equally. */
    min-width: 110px;
    max-width: 100%;
}
@media (max-width: 730px) {
    .controls fieldset label {
        flex: 1 1 calc(33.333% - 5px); /* 3 items per row, minus gap. */
    }
}

.controls input[type="radio"] + span {
    width: 100%;
    padding: 5px;
    color: #ccc;
    background-color: #333;
    border: 1px dotted #555;
    border-radius: 5px;
}
.controls input[type="radio"] + span:hover {
    color: orange;
    font-weight: bold;
}
.controls input[type="radio"]:checked + span {
    cursor: default;
    color: orange;
    font-weight: bold;
    border: 1px solid #666;
    background-color: #555;
}

/* Hide the radio button's icon */
.controls input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    /* Do NOT use display: none;
       This will prevent you from being able to use 
       arrow keys to switch between the options. */
}

/* ---------- Framework Toggle -- Dropdown Menus (Desktop Mode) ---------- */

.inline-control {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    margin-inline: auto;
}
.inline-control label {
    white-space: nowrap;
}
.inline-control select {
    min-width: 150px;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
    color: orange;
    background-color: #555;
    border: 1px solid #666;
    border-radius: 5px;
    padding: 5px 25px 5px 10px;
    transition: background-color 0.2s ease, border-color 0.2s ease;
    appearance: none; /* Hide the default down arrow */
  
    /* Create a new down arrow */
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0l5 6 5-6z' fill='%23666'/%3E%3C/svg%3E");
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0l5 6 5-6z' fill='%23f97316'/%3E%3C/svg%3E");
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0l5 6 5-6z' fill='%239C5900'/%3E%3C/svg%3E");
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 10 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0l5 6 5-6z' fill='%23FFA500'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px auto;
}
.inline-control select:hover {
    background-color: #666;
}
.inline-control select:focus {
    border-color: orange;
    outline: none;
}